.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.height-1{
  height: 100%
}

.bg-grey{
  background-color: #f4f4f4;
}

.mb-5{
  margin-bottom: 50px;
}

.mt-5{
  margin-top: 50px;
}

.mt-3{
  margin-top: 30px;
}

.bg-grey{
  background-color: rgb(215, 214, 214);
}
.bold{
  font-weight: 700;
}
.mx-3{
  margin-left: 10px;
  margin-right: 10px;
}
textarea{
  height: 200px;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

